.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
ul.trades {
  list-style: none;
  margin-left: 0;
}
.trade-div {
  width: 100%;
  overflow: auto;
  margin-top: 75px;
}
li.trade {
  position: relative;
  overflow: hidden;
  display: block;
  border-bottom: 2px solid #999999;
}
li.trade .expand {
  cursor: pointer;
  display: block;
  padding-left: 3px;
  padding-right: 3px;
  margin-top: 10px;
  margin-right: 40px;
  float: right;
  clear: both;
  background-color: #999999;
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
}
li.trade .expand:hover {
  color: white;
  text-decoration: none;
}
li.trade .description {
  margin-top: 15px;
  font-size: 18px;
  text-align: left;
  color: white;
  margin-left: 50px;
}
li.trade .comments .comment {
  margin-bottom: 20px;
}
li.trade .comments .comment p {
  text-align: left;
  padding-left: 200px;
  padding-top: 40px;
  color: white;
}
li.trade:last-child {
  border-bottom: none;
}
ul.trans-trade {
  margin-top: 12px;
  list-style: none;
  width: 350px;
}
ul.trans-trade h2 {
  color: #404040;
  font-style: serif;
  margin-top: -30px;
}
ul.trans-trade.pull-left,
ul.trans-trade.pull-right {
  width: 40%;
}
ul.trans-trade.pull-right {
  margin-right: 20px;
}
li.item {
  margin-bottom: 5px;
  text-align: left;
  display: inline-block;
  background-color: #404040;
  margin-left: 2px;
  margin-right: 2px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  border-width: 3px;
  border-style: solid;
  width: 72px;
  height: 72px;
}
li.item a,
li.item a img,
li.item .item-image {
  width: 72px;
  height: 72px;
  display: inline-block;
}
li.item.empty {
  border-color: #999999;
  margin-top: -100px;
}
li.item.normal {
  border-color: #b2b2b2;
}
li.item.unique {
  border-color: #ffd700;
}
li.item.vintage {
  border-color: #476291;
}
li.item.genuine {
  border-color: #4d7455;
}
li.item.strange {
  border-color: #cf6a32;
}
li.item.unusual,
li.item.haunted {
  border-color: #8650ac;
}
li.item.community,
li.item.self-made {
  border-color: #70b04a;
}
li.item.valve {
  border-color: #a50f79;
}
li.item .quantity {
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  font-family: "TF2 Build", Georgia, "Times New Roman", Times, serif;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  color: #eeeeee;
  margin: 0 auto;
  float: none;
  width: 100%;
  margin-top: -35px;
  font-size: 18px;
}
li.item .quantity.q-2 {
  background-color: #555555;
}
.trade-arrow {
  display: inline-block;
  float: left;
  margin-top: 40px;
  margin-left: 10px;
  position: relative;
  background: rgba(128, 128, 128, 0.2);
  width: 70px;
  height: 30px;
}
.trade-arrow:after {
  display: inline-block;
  content: " ";
  width: 0;
  height: 0;
  margin-top: -25px;
  margin-left: 70px;
  position: relative;
  border-top: 40px solid transparent;
  border-left: 50px solid rgba(128, 128, 128, 0.2);
  border-bottom: 40px solid transparent;
}
.account {
  margin-left: 30px;
  margin-top: 20px;
  color: #fff;
}
.account img {
  margin-right: 10px;
  height: 48px;
  width: 48px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
.account.online img {
  border: 3px solid #8ecafc;
}
.account.online a {
  color: #8ecafc;
  -webkit-transition: ease-in-out 0.1s color;
  -moz-transition: ease-in-out 0.1s color;
  -ms-transition: ease-in-out 0.1s color;
  -o-transition: ease-in-out 0.1s color;
  transition: ease-in-out 0.1s color;
}
.account.online a:hover {
  color: #5cb3fb;
  text-decoration: none;
}
.account.in-game img {
  border: 3px solid #aefc4e;
}
.account.in-game a {
  color: #aefc4e;
  -webkit-transition: ease-in-out 0.1s color;
  -moz-transition: ease-in-out 0.1s color;
  -ms-transition: ease-in-out 0.1s color;
  -o-transition: ease-in-out 0.1s color;
  transition: ease-in-out 0.1s color;
}
.account.in-game a:hover {
  color: #97fb1c;
  text-decoration: none;
}
@media (min-width: 1200px) {
  ul.trans-trade {
    width: 450px;
  }
  li.item,
  li.item a,
  li.item a img,
  li.item .item-image {
    width: 96px;
    height: 96px;
  }
  .trade-arrow {
    margin-left: 5px;
    width: 100px;
    height: 40px;
  }
  .trade-arrow:after {
    margin-top: -20px;
    margin-left: 100px;
  }
}
