@font-face {
  font-family: 'TF2 Build';
  src: url('../fonts/tf2build.ttf');
}
@font-face {
  font-family: 'TF2';
  src: url('../fonts/tf2.ttf');
}
@font-face {
  font-family: 'TF2 Professor';
  src: url('../fonts/tf2prof.ttf');
}
