
@import "lib/variables.less";
@import "lib/mixins.less";

header { margin-top: 60px !important }

header h1 {
    font-family: @serifFontFamily;
}

.top-bar {
    position: fixed;
    margin-top: 0;
    margin-left: 20px;
    color: white;
    height: 40px;
    .border-radius(0 0 5px 5px);
    background-color: @gray;
    z-index: 100;
}

.hero-search {
    .transition(ease-in-out .7s left);
    position: relative;
}

.top-bar-nav {
    margin-left: 11px;
    margin-right: 11px;
    margin-top: 7px;
    list-style: none;
}

.top-bar-nav li{
    a { cursor: pointer; }
    display: inline-block;
    margin-right: 7px;
    i:before { color: white }
    &:nth-child(2) { margin-left: -5px; }
    &:not(.profile) a i:before { 
        margin-top: 5px;
    }
}

#search {
    input {
        height: 50px;
        font-size: 30px;
    }
    button {
        height: 60px;
        font-size: 30px;
    }
}

.typeahead.dropdown-menu {
    .transition(ease-in-out .1s opacity);
    .transition(ease-in-out .1s opacity);
}

.center {
    margin: 0 auto;
    text-align: center;
    float: none;
}

header h1 {
    margin-top: -20px;
    margin-bottom: 20px;
    font-size: 50px;
    color: @gray;
    text-shadow: 0px 1px 0px #e1e1e8;
}

html, body { height: 100% }

body {
    background-image: url('../img/logo-bg.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
}

#search { margin-bottom: 0 }

#search-results {
    position: relative;
    margin-top: 0;
    width: 900px;
    padding-bottom: 10px;
    background-color: @grayDark;
    .border-radius(0 0 10px 10px);
    &.all-round { .border-radius(10px 10px 10px 10px) }
    .center();
}

.steam_login img {
    margin: 8px;
}

.profile {
    margin-right: 20px;
    vertical-align: middle;
    padding-top: 1px;
    a img {
        margin-top: -3px;
        border-width: 2px;
	border-style: solid;
	.border-radius(2px 2px 2px 2px);
	width: 16px;
	height: 16px;
	margin-right: 5px;
    }
    &.online a { color: #8ecafc; .transition(ease-in-out .1s color) }
    &.online a:hover { color: darken(#8ecafc, 10%); text-decoration: none }
    &.online img { border-color: #8ecafc; .transition(ease-in-out .1s border-color) }
    &.online a:hover img { border-color: darken(#8ecafc, 10%) }
}

@media (min-width: 1200px) {
    #search-results { width: 1100px }
}

@media (min-width: 768px) and (max-width: 979px) {
    #search-results { width: 700px }
}

@media (max-width: 767px) {
    #search-results { width: 500px }
}